<?xml version="1.0" encoding="utf-8" ?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <Configuration Condition=" '$(Configuration)' == '' ">Release</Configuration>
        <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
        <Version Condition=" '$(Version)' == '' ">0.0.0</Version>
        <BuildId Condition=" '$(BuildId)' == '' ">0</BuildId>
        <BuildVersion>$(Version).$(BuildId)</BuildVersion>
        <ProjectName>ConsoleApp1</ProjectName>
        <ProjectPath>.\src\$(ProjectName)</ProjectPath>
        <ProjectFile>$(ProjectPath)\$(ProjectName).csproj</ProjectFile>
    </PropertyGroup>

    <Target Name="Build" DependsOnTargets="BuildPackage" />

    <Target Name="BuildPackage">
        <Message Text="Starting to build v$(BuildVersion)" />
        <MSBuild Projects="$(ProjectFile)" ContinueOnError="false" Targets="Clean" Properties="Configuration=$(Configuration);" />
        <MSBuild Projects="$(ProjectFile)" ContinueOnError="false" Targets="Restore" Properties="Configuration=$(Configuration);Platform=$(Platform)" />
        <MSBuild Projects="$(ProjectFile)" ContinueOnError="false" Targets="Build" Properties="Configuration=$(Configuration);Platform=$(Platform);Version=$(BuildVersion)" />
        <MSBuild Projects="$(ProjectFile)" ContinueOnError="false" Targets="Publish" Properties="Configuration=$(Configuration);Platform=$(Platform);Version=$(BuildVersion);ApplicationVersion=$(BuildVersion);ApplicationRevision=$(BuildId)" />
    </Target>

</Project>
